<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sandbox | Contacts</title>

	<!-- Seo Meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="main" class="view">{{{markup}}}</div>
		<script>window.__PRELOADED_STATE__ = "{{state}}"</script>
    <script src="/js/app.js"></script>
  </body>
</html>
